
<div class="dashboard-container">
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <mat-toolbar style="justify-content: space-between" color="primary">
      <span>Tic Tac Toe</span>
      <button mat-raised-button color="accent" (click)="logOut()">Log out</button>
    </mat-toolbar>
  </nav>

  <div style="flex-grow: 2;">
    <div class="game-board-container">
      <mat-card class="game-board" *ngIf="isGameStarted">
        <mat-card-content>
          <div class="board-row">
            <div class="board-cell" *ngFor="let cell of board[0]; let col = index" (click)="makeMove(0, col)">{{ cell }}</div>
          </div>
          <div class="board-row">
            <div class="board-cell" *ngFor="let cell of board[1]; let col = index" (click)="makeMove(1, col)">{{ cell }}</div>
          </div>
          <div class="board-row">
            <div class="board-cell" *ngFor="let cell of board[2]; let col = index" (click)="makeMove(2, col)">{{ cell }}</div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div style="text-align:center">
      <button class="control-button" mat-raised-button color="primary" (click)="startGame()">Start Game</button>
      <button class="control-button" mat-raised-button color="accent" (click)="resetGame()">Reset Game</button>
    </div>
  </div>

  <footer class="footer text-center" style="background-color: #3f51b5; color:aliceblue;flex-grow: 0.1; padding-top: 10px; text-align:center">
    2023 &copy; Suraja Sandaruwan | <a href="/" target="_blank" style="color: aliceblue;">suraja.com</a>
  </footer>
</div>






