.game-board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.game-board {
  width: 300px;
  background-color: #e2e46f;
}

.board-row {
  display: flex;
  justify-content: center;
}

.board-cell {
  flex: 1;
  text-align: center;
  font-size: 36px;
  padding: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
  border: 1px solid #000;
}

.board-cell:hover {
  background-color: #709634;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.control-button {
  margin: 8px;
}
